/* static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #333;
}

h3 {
    color: #007bff;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    line-height: 1.5;
    margin: 20px 0;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image */
}
