{% extends 'base.html' %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <section>
        <h2>Screenshots</h2>
        <p>Here are the screenshots of the project.</p>
        <img src="{{ url_for('static', filename='images/PY31.png') }}" alt="Image 1">
        <img src="{{ url_for('static', filename='images/image2.png') }}" alt="Image 2">
        <img src="{{ url_for('static', filename='images/image3.png') }}" alt="Image 3">
        <img src="{{ url_for('static', filename='images/image4.png') }}" alt="Image 4">

    </section>
{% endblock %}
